<!DOCTYPE html>
<html>

<head>
    <title>Login Using Bootstrap</title>
</head>

<body class="pt-4 ">
    <div class="container pt-4 mt-4 pd de shadow-sm">
        <h4 class="text-center pt-3 font-weight-bold text-primary"><span>G</span><span style="color:red">o</span><span
                style="color:yellow">o</span><span>g</span><span>l</span><span style="color:red">e</span></h4>
        <h4 class="pt-2 text-center font-weight-bolder">Sign in</h4>
        <h6 class="pt-1 text-center"><b> to continue to Gmail </b></h6>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10 pt-2">
                <form>
                    <div class="form-group pt-4">
                        <input type="email" class="form-control al" placeholder="Email or Phone"
                            id="exampleInputEmail1">
                    </div>
                </form>
                <b style="font-size: 14px;font-weight: 500; position:absolute; top:90px;"><a href="#" class="an">Forgot
                        email?</a></b>
                <div style="padding-top: 55px;">
                    <p style="font-size:13px">Not your computer? Use Guest mode to sign in privately.</p>
                    <b style="font-size:14px;font-weight: 500; position: absolute;top:179px;"><a href="#"
                            class="an">Learn more</a></b>
                    <div style="padding-top: 40px;" class="row">
                        <div class="col-9">
                            <b style="font-size:14px;font-weight: 500;"><a href="#" class="an">Create account</a></b>
                        </div>
                        <div class="col-3">
                            <button class="btn-block bg-primary " style="border: none;width: 80px; border-radius: 3px; color:white;padding:5px;">Next</button>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row pt-4 mt-3">
            <div class="col-5">
                <ul class="nav nav-pills pt-4 mt-4">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle co" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">English(United States)</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Engligh(UK)</a>
                        <a class="dropdown-item" href="#">English(US)</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </ul>
            </div>
            <div class="col-7 ">
                <ul class="pt-4 mt-4">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                  </ul>
            </div>
           
        </div>
    </div>
   
</body>

</html>